html,body{
	color: #3c3c3c;
	/*background-color: #3C4955;*/
}

#div_container{
	width: 98%;
	height: 100%;
	margin: 0 auto;
	/*background-color: #3C4955;*/
}


/* 
	CSS for left div in the container
*/
#div_left{
	height: 100%;
	margin: 0 10 0 0;
	float: left;
	background-color: #f4f4f4;
	border-radius: 10px;
}
#div_left_top{
	width: 100%;
	height: 60%;
	overflow-y: auto;
	/*background-color: #456;*/
}
.filter{
	margin: 0 0 0 20;
}
.filter p{
	margin: 10 0 10 10;
}
#div_left_bottom{
	width: 100%;
	height: 40%;
}
/*#div_left_bottom.bar{
	fill: #79C5B7;
}*/
.bar{
	fill: #79C5B7;
}

/* 
	CSS for middle div in the container
*/
#div_middle{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #f4f4f4;
	border-radius: 10px;
}

#div_middle_top{
	width: 100%;
	height: 55%;
}

#div_middle_toolbar{
	width: 100%;
	height: 38px;
}

.button_normal{
	width: 80px;
	line-height: 26px;
	font-weight: bold;
	/*background-color: #bcbcbc;*/
	color: #8c96a0;
	cursor: pointer;
	border-radius: 4px;
	margin:5px 0px 5px 4px;
	border:1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
	position: relative;
	overflow: hidden;
}

.button_submit{
	width: 80px;
	float: right;
	line-height: 26px;
	font-weight: bold;
	background-color: #4bd0b8;;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	margin:5px 20px 5px 4px;
	transition: background-color 0.3s ease;
}
.button_submit:hover{
	background-color: #e17da2;
}

#div_middle_canvas{
	margin: 0 5 0 5;
	width: 98%;
	border: 1px solid #abc;
}

#div_middle_canvas canvas{
	/*width: 100%;*/
	/*height: 100%;*/
}

#div_middle_submit{
	width: 100%;
	height: 38px;
}

#div_middle_bottom{
	width: 100%;
	height: 45%;
	margin-bottom: -100px;
}
#div_middle_parallelCoordinates{
	width: 98%;
	height: 98%;
	margin:  0 auto;
}
/* CSS for parallel coordinate*/
svg {
	font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}




/* 
	CSS for right div in the container
*/
#div_right{
	height: 100%;
	margin: 0 0 0 10;
	float: left;
	background-color: #f4f4f4;
	border-radius: 10px;
}